<script>
  const color = () => {
    const r = Math.floor(Math.random() * 256);
    const g = Math.floor(Math.random() * 256);
    const b = Math.floor(Math.random() * 256);
    const a = 0.8;
    return `rgba(${r}, ${g}, ${b})`;
  };

  // When DOM is fully loaded
  window.addEventListener('DOMContentLoaded', () => {
    const icons = document.querySelectorAll('.dynamic-color-icon');
    icons.forEach(icon => {
      icon.style.color = color();
    });
  });
</script>



<% if(isAdmin){ %>
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="/adminIndex">
          <i class="icon-grid menu-icon dynamic-color-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link gap-1" style="padding: 14px;" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
          aria-controls="ui-basic">
          <i class="mdi mdi-account-box-outline dynamic-color-icon"></i>
          <span class="menu-title">User Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu" style="padding: 0.25rem 0 0; list-style: none !important;">
            <li class="nav-item"> <a class="nav-link" href="/AdminUser"><i class="mdi mdi-account "></i>All Users</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="/AddUser"><i class="mdi mdi-account-plus "></i> Add
                Users</a></li>
            <li class="nav-item"> <a class="nav-link" href="/ActiveUser"><i class="mdi mdi-account-check "></i> Active
                Users</a></li>
            <li class="nav-item"> <a class="nav-link" href="/ExpiredUser"><i class="mdi mdi-account-remove "></i>
                Expired Users</a></li>


          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="padding: 14px;" data-toggle="collapse" href="#user-menu" aria-expanded="false"
          aria-controls="user-menu">
          <i class="mdi mdi-account-multiple-outline dynamic-color-icon"></i>
          <span class="menu-title">Team Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="user-menu">
          <ul class="nav flex-column sub-menu" style="padding: 0.25rem 0 0; list-style: none !important;">
            <li class="nav-item">
              <a class="nav-link" href="/AdminTeam">
                <i class="mdi mdi-account-outline"></i> All Staff
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Allstaff">
                <i class="mdi mdi-account-multiple-plus"></i> Add Team Member
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="padding: 14px;" data-toggle="collapse" href="#package-menu" aria-expanded="false"
          aria-controls="user-menu">
          <i class="mdi mdi-package-variant-closed dynamic-color-icon"></i>
          <span class="menu-title">Service Packages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="package-menu">
          <ul class="nav flex-column sub-menu" style="padding: 0.25rem 0 0; list-style: none !important;">
            <li class="nav-item">
              <a class="nav-link" href="/package">
                <i class="mdi mdi-view-list"></i> View All Packages
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AddPackages">
                <i class="mdi mdi-plus-box"></i> Add New Packages
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" href="/request">
                <i class="mdi mdi-inbox-arrow-down"></i> Package Requests
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- User equipment -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#equipmentMenu" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-toolbox-outline dynamic-color-icon"></i>
          <span class="menu-title">User Equipment</span>
          <i class="menu-arrow" style="margin-left:10px;"></i>
        </a>
        <div class="collapse" id="equipmentMenu">
          <ul class="nav flex-column sub-menu" style="padding: 0.25rem 0 0; list-style: none !important;">
            <li class="nav-item">
              <a class="nav-link" href="/ViewAllEquipments">
                <i class="mdi mdi-format-list-bulleted"></i> All Stock
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AddNewEquipment">
                <i class="mdi mdi-plus-box-outline"></i> Add Stock
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userEquipment">
                <i class="mdi mdi-account-cog-outline"></i> Assign Equipment
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/EquipmentStatus">
                <i class="mdi mdi-clipboard-check-outline"></i> Equipment Status
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/RecoveryManagement">
                <i class="mdi mdi-restore"></i> Recovery Management
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- User equipment -->

      <!-- ssssssss --> <!-- ssssssss --> <!-- ssssssss --> <!-- ssssssss -->
      <li class="nav-item">
        <a class="nav-link" style="padding: 14px;" data-toggle="collapse" href="#Customize-menu" aria-expanded="false"
          aria-controls="user-menu">
          <i class="mdi mdi-palette-outline dynamic-color-icon"></i>
          <span class="menu-title">Customize Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="Customize-menu">
          <ul class="nav flex-column sub-menu" style="padding: 0.25rem 0 0; list-style: none !important;">
            <li class="nav-item">
              <a class="nav-link" href="/UserDashboard">
                <i class="mdi mdi-view-dashboard-edit"></i> User Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/BrandingPage">
                <i class="mdi mdi-image-marker-outline"></i> Slider images
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/HeaderFooter">
                <i class="mdi mdi-format-align-top"></i> Edit Footer & Header
              </a>
            </li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="/review">
          <i class="bi bi-star dynamic-color-icon"></i>
          <span class="menu-title pl-2">Reviews</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/UserComplaint">
          <i class="bi bi-chat-right-quote dynamic-color-icon"></i>
          <span class="menu-title pl-2">User Complaint</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="padding: 14px;" data-toggle="collapse" href="#charts" aria-expanded="false"
          aria-controls="charts">
          <i class="bi bi-coin dynamic-color-icon"></i>
          <span class="menu-title">Earning system</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu" style="padding: 0.25rem 0 0; list-style: none !important;">
            <li class="nav-item"> <a class="nav-link" href="/addtask"><i class="mdi mdi-calendar-plus"></i>Add Task</a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="/CompletedTask"><i class="mdi mdi-calendar-check"></i>
                Completed Task</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="padding: 14px;" data-toggle="collapse" href="#message" aria-expanded="false"
          aria-controls="message">
          <i class="mdi mdi-message-text-outline dynamic-color-icon"></i>
          <span class="menu-title ">Notification Center</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="message">
          <ul class="nav flex-column sub-menu" style="padding: 0.25rem 0 0; list-style: none !important;">
            <li class="nav-item"> <a class="nav-link" href="/Promotions"><i
                  class="mdi mdi-message-image"></i>Promotions</a></li>
            <!-- <li class="nav-item"> <a class="nav-link" href="/Services"><i class="mdi mdi-message-alert"></i>Service Alert</a></li> -->
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="padding: 14px;" data-toggle="collapse" href="#billing-payments" aria-expanded="false"
          aria-controls="charts">
          <i class="bi bi-cash-stack dynamic-color-icon"></i>
          <span class="menu-title">Billing-Payments</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="billing-payments">
          <ul class="nav flex-column sub-menu" style="padding: 0.25rem 0 0; list-style: none !important;">
            <li class="nav-item"> <a class="nav-link" href="/paymentshistory"><i class="bi bi-clock-history"></i>Payment
                History</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pandingpayments"><i
                  class="bi bi-card-checklist"></i>Panding Payments</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="mdi mdi-logout dynamic-color-icon"></i>
          <span class="menu-title pl-2">Logout</span>
        </a>
      </li>
    </ul>
  </nav>
  <% } %>

    <!-- Package -->

    <!-- User --> <!-- User --> <!-- User --> <!-- User -->
    <% if(isUser){ %>
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/index">
              <i class="icon-grid menu-icon dynamic-color-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/package">
              <i class="mdi mdi-cast dynamic-color-icon"></i>
              <span class="menu-title pl-2">All Packages</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/History">
              <i class="mdi mdi-alarm-multiple dynamic-color-icon"></i>
              <span class="menu-title pl-2">History</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/complaint">
              <i class="bi bi-wallet2 dynamic-color-icon"></i>
              <span class="menu-title pl-2">Wallet </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="mdi mdi-account dynamic-color-icon"></i>
              <span class="menu-title pl-2">Profile</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contactus">
              <i class="mdi mdi-phone dynamic-color-icon"></i>
              <span class="menu-title pl-2">Contact Us</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/changepassword" style="padding: 13px 7px;">
              <i class="bi bi-house-lock dynamic-color-icon"></i>
              <span class="menu-title pl-2">Change Wifi Password</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="mdi mdi-logout dynamic-color-icon"></i>
              <span class="menu-title pl-2">Logout</span>
            </a>
          </li>


        </ul>
      </nav>
      <% } %>
        <!-- User --> <!-- User --> <!-- User --> <!-- User --> <!-- User --> <!-- User --> <!-- User --> <!-- User -->